<template>
     <Head title="Incoming" />
        <GuestLayout>

         
 <div class="w-full min-h-screen">
            <div class="fixed inset-0 z-20 flex items-center justify-center w-full h-screen p-4 overflow-auto modal bg-semi-75 " v-if="hide" @click.self="hide = false">
<OSignature  class=""/>
</div>
  <div class="fixed inset-0 z-10 flex items-center justify-center w-full p-4 modal bg-semi-75 " v-if="test" @click.self="test = false">
  <!-- <div class="bg-white min-h-[26rem] min-w-[30rem] sm:min-h-[25rem] overflow-auto rounded-xl  ">
    <div class="flex items-center justify-between bg-dark">

 
    <div class="text-xl font-bold text-left text-white " >
        <div class="flex items-center p-4">
    <svg fill="#ffffff" width="30px" height="25px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">

<g id="SVGRepo_bgCarrier" stroke-width="1px"/>

<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

<g id="SVGRepo_iconCarrier"> <path d="M1706.235 1807.059H350.941V112.94h903.53v451.765h451.764v1242.353Zm-338.823-1670.74 315.443 315.447h-315.443V136.32Zm402.182 242.487L1440.372 49.58C1408.296 17.62 1365.717 0 1320.542 0H238v1920h1581.175V498.635c0-45.176-17.618-87.755-49.58-119.83ZM576.823 1242.353h790.589v-112.94H576.823v112.94Zm0-451.765h903.53V677.647h-903.53v112.941Zm0 677.647h451.765v-112.941H576.823v112.941Zm0-451.764h677.648V903.53H576.823v112.941Zm0-451.765h451.765V451.765H576.823v112.941Z" fill-rule="evenodd"/> </g>

</svg>  <span class="ml-2 ">Document Details</span>
            
        </div>
        </div>

        <div class="flex mr-2 text-lg text-white ">
 #<InputLabel for="te" :value="id" class="w-full font-bold text-white" /> 
        </div>
   </div>

        <div class="grid grid-cols-3 p-4 mt-2">
            

                   <div class="block col-span-3 mt-2">
                      <div class="flex items-center justify-between">

                       <InputLabel for="te" value="Document Name" class="font-medium text-gray-400" /> 
                           <InputLabel  class="font-semibold text-gray-500" :value="doc_name" />
                      </div>
                </div>

   <div class="block col-span-3 mt-6 sm:mt-4">
                    <div class="flex items-center justify-between">
                       <InputLabel for="te" value="Document Date" class="font-medium text-gray-400 " /> 
                       <InputLabel for="te" :value="(new Date(dates)).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })" class="font-semibold text-gray-500" /> 
                       
</div>
                </div>
               
               

                                <div class="block col-span-3 mt-8 sm:mt-4">
                    <div class="flex items-center justify-between">
                       <InputLabel for="te" value="Received By" class="font-medium text-gray-400 " /> 
                       <InputLabel for="te" :value="recp_name" class="font-semibold text-gray-500" /> 
</div>
                </div>
                                <div class="block col-span-3 mt-8 sm:mt-4">
                    <div class="flex items-center justify-between">
                       <InputLabel for="te" value="Date Received" class="font-medium text-gray-400 " /> 
                       <InputLabel for="te" :value="(new Date(doc_date)).toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric',hour: 'numeric', minute: 'numeric', hour12: true })" class="font-semibold text-gray-500" /> 
</div>
                </div>

                                                <div class="block col-span-3 mt-8 sm:mt-4">
                    <div class="flex items-start justify-between">
                       <InputLabel for="te" value="Signed By" class="font-medium text-gray-400 " /> 
                          <div class="max-w-[15rem] max-h-[20rem] bg-gray-100 rounded "><img :src="signature" alt=""></div>

</div>
                </div>
        </div>


</div> -->

<div class="bg-white min-h-[26rem] min-w-[30rem] sm:min-h-[26.5rem] overflow-auto rounded-xl">
            <div class="flex justify-start p-4 mt-2 item-center">
                <div class="rounded-md h-[3rem] w-[3rem] bg-darker flex items-center justify-center mt-1">

                     <svg width="55px" height="50px" viewBox="0 -398 1820 1820" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg">
                     <path d="M916.859259 217.125926h350.435556v60.681481H916.859259z" fill="#5FFFBA" />
                     <path d="M805.641481 550.874074H603.306667c-27.875556 0-50.536296 22.660741-50.536297 50.536296v202.24c0 27.875556 22.660741 50.536296 50.536297 50.536297h202.24c27.875556 0 50.536296-22.660741 50.536296-50.536297V601.41037c0.094815-27.875556-22.565926-50.536296-50.441482-50.536296zM795.496296 765.44c0 15.54963-12.61037 28.16-28.16 28.16H641.611852c-15.54963 0-28.16-12.61037-28.16-28.16V639.715556c0-15.54963 12.61037-28.16 28.16-28.16h125.819259c15.54963 0 28.16 12.61037 28.16 28.16v125.724444z" fill="#FFD561" /><path d="M916.859259 596.385185h350.435556v60.681482H916.859259z" fill="#5FFFBA" /><path d="M805.641481 171.614815H603.306667c-27.875556 0-50.536296 22.660741-50.536297 50.536296v202.24c0 27.875556 22.660741 50.536296 50.536297 50.536296h202.24c27.875556 0 50.536296-22.660741 50.536296-50.536296V222.151111c0.094815-27.875556-22.565926-50.536296-50.441482-50.536296zM795.496296 386.180741c0 15.54963-12.61037 28.16-28.16 28.16H641.611852c-15.54963 0-28.16-12.61037-28.16-28.16V260.456296c0-15.54963 12.61037-28.16 28.16-28.16h125.819259c15.54963 0 28.16 12.61037 28.16 28.16v125.724445z" fill="#FFA28D" /><path d="M916.859259 368.82963h350.435556v60.681481H916.859259zM916.859259 748.088889h350.435556v60.681481H916.859259z" fill="#5FFFBA" /></svg>
                </div>
                <div class="w-full">
                  <div class="ml-3 text-2xl font-medium text-gray-800">
                    {{doc_name}}
                    </div>     
                    <div class="mt-1 ml-3 text-sm font-medium text-gray-500">
                         <div class="flex justify-between item-center">
<div>

                        {{id}}
</div>
<div>
       <div class="flex items-center ">
                         
                            <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#3b3a3a"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M17 4.25H15.75V3C15.75 2.80109 15.671 2.61032 15.5303 2.46967C15.3897 2.32902 15.1989 2.25 15 2.25C14.8011 2.25 14.6103 2.32902 14.4697 2.46967C14.329 2.61032 14.25 2.80109 14.25 3V4.25H9.75V3C9.75 2.80109 9.67098 2.61032 9.53033 2.46967C9.38968 2.32902 9.19891 2.25 9 2.25C8.80109 2.25 8.61032 2.32902 8.46967 2.46967C8.32902 2.61032 8.25 2.80109 8.25 3V4.25H7C6.27065 4.25 5.57118 4.53973 5.05546 5.05546C4.53973 5.57118 4.25 6.27065 4.25 7V18C4.25 18.7293 4.53973 19.4288 5.05546 19.9445C5.57118 20.4603 6.27065 20.75 7 20.75H17C17.7293 20.75 18.4288 20.4603 18.9445 19.9445C19.4603 19.4288 19.75 18.7293 19.75 18V7C19.75 6.27065 19.4603 5.57118 18.9445 5.05546C18.4288 4.53973 17.7293 4.25 17 4.25ZM7 5.75H8.25V7C8.25 7.19891 8.32902 7.38968 8.46967 7.53033C8.61032 7.67098 8.80109 7.75 9 7.75C9.19891 7.75 9.38968 7.67098 9.53033 7.53033C9.67098 7.38968 9.75 7.19891 9.75 7V5.75H14.25V7C14.25 7.19891 14.329 7.38968 14.4697 7.53033C14.6103 7.67098 14.8011 7.75 15 7.75C15.1989 7.75 15.3897 7.67098 15.5303 7.53033C15.671 7.38968 15.75 7.19891 15.75 7V5.75H17C17.3315 5.75 17.6495 5.8817 17.8839 6.11612C18.1183 6.35054 18.25 6.66848 18.25 7V9.75H5.75V7C5.75 6.66848 5.8817 6.35054 6.11612 6.11612C6.35054 5.8817 6.66848 5.75 7 5.75ZM17 19.25H7C6.66848 19.25 6.35054 19.1183 6.11612 18.8839C5.8817 18.6495 5.75 18.3315 5.75 18V11.25H18.25V18C18.25 18.3315 18.1183 18.6495 17.8839 18.8839C17.6495 19.1183 17.3315 19.25 17 19.25Z" fill="#3b3a3a"></path> </g></svg>   
                     <div class="text-sm text-gray-500">
                           <span class="text-sm font-medium text-gray-500">{{(new Date(dates)).toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric'})}}</span>
                           </div>
                            </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mx-6 mt-2 text-gray-400 ">
   
    
            <div class="flex items-start justify-between px-6 mt-6">
  
                    <div class="flex items-center ">
                         
                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#3b3a3a"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M17 4.25H15.75V3C15.75 2.80109 15.671 2.61032 15.5303 2.46967C15.3897 2.32902 15.1989 2.25 15 2.25C14.8011 2.25 14.6103 2.32902 14.4697 2.46967C14.329 2.61032 14.25 2.80109 14.25 3V4.25H9.75V3C9.75 2.80109 9.67098 2.61032 9.53033 2.46967C9.38968 2.32902 9.19891 2.25 9 2.25C8.80109 2.25 8.61032 2.32902 8.46967 2.46967C8.32902 2.61032 8.25 2.80109 8.25 3V4.25H7C6.27065 4.25 5.57118 4.53973 5.05546 5.05546C4.53973 5.57118 4.25 6.27065 4.25 7V18C4.25 18.7293 4.53973 19.4288 5.05546 19.9445C5.57118 20.4603 6.27065 20.75 7 20.75H17C17.7293 20.75 18.4288 20.4603 18.9445 19.9445C19.4603 19.4288 19.75 18.7293 19.75 18V7C19.75 6.27065 19.4603 5.57118 18.9445 5.05546C18.4288 4.53973 17.7293 4.25 17 4.25ZM7 5.75H8.25V7C8.25 7.19891 8.32902 7.38968 8.46967 7.53033C8.61032 7.67098 8.80109 7.75 9 7.75C9.19891 7.75 9.38968 7.67098 9.53033 7.53033C9.67098 7.38968 9.75 7.19891 9.75 7V5.75H14.25V7C14.25 7.19891 14.329 7.38968 14.4697 7.53033C14.6103 7.67098 14.8011 7.75 15 7.75C15.1989 7.75 15.3897 7.67098 15.5303 7.53033C15.671 7.38968 15.75 7.19891 15.75 7V5.75H17C17.3315 5.75 17.6495 5.8817 17.8839 6.11612C18.1183 6.35054 18.25 6.66848 18.25 7V9.75H5.75V7C5.75 6.66848 5.8817 6.35054 6.11612 6.11612C6.35054 5.8817 6.66848 5.75 7 5.75ZM17 19.25H7C6.66848 19.25 6.35054 19.1183 6.11612 18.8839C5.8817 18.6495 5.75 18.3315 5.75 18V11.25H18.25V18C18.25 18.3315 18.1183 18.6495 17.8839 18.8839C17.6495 19.1183 17.3315 19.25 17 19.25Z" fill="#3b3a3a"></path> </g></svg>   
                     <div class="text-gray-500 text-md">
                            Received Date: 
                           </div>
                    </div>
                                <span class="font-medium text-gray-800">{{(new Date(doc_date)).toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric',hour: 'numeric', minute: 'numeric', hour12: true})}}</span>

            </div>
                            <div class="flex items-start justify-between px-6 mt-6">
                <div class="flex items-center">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="24" height="24" fill="white"></rect> <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9.5C5 7.01472 7.01472 5 9.5 5C11.9853 5 14 7.01472 14 9.5C14 11.9853 11.9853 14 9.5 14C7.01472 14 5 11.9853 5 9.5Z" fill="#323232"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M4.64115 15.6993C5.87351 15.1644 7.49045 15 9.49995 15C11.5112 15 13.1293 15.1647 14.3621 15.7008C15.705 16.2847 16.5212 17.2793 16.949 18.6836C17.1495 19.3418 16.6551 20 15.9738 20H3.02801C2.34589 20 1.85045 19.3408 2.05157 18.6814C2.47994 17.2769 3.29738 16.2826 4.64115 15.6993Z" fill="#323232"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M21.7071 2.29289C22.0976 2.68342 22.0976 3.31658 21.7071 3.70711L18.2071 7.20711C17.5404 7.87377 16.4596 7.87377 15.7929 7.20711L14.2929 5.70711C13.9024 5.31658 13.9024 4.68342 14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289L17 5.58579L20.2929 2.29289C20.6834 1.90237 21.3166 1.90237 21.7071 2.29289Z" fill="#323232"></path> </g></svg> <div class="text-gray-500 text-md">
                            Received By:
                           </div>
                </div>
                 <span class="font-medium text-gray-800">{{recp_name}}  </span>
</div>

                 <div class="flex items-center justify-center px-4 mt-3 bg-gray-100 rounded">
  
                   <div class="max-w-[20rem] min-h-[8rem]  "><img :src="signature" alt=""></div>
       
          
    </div>
                 <div class="flex items-center justify-center px-2 mt-2 mb-1">
                         
     <div class="text-gray-500 text-md">
                           Signature
                           </div>

                        

                         
            </div>
            </div>
</div>
  
                                           
        <div class="overflow-auto tablet:w-full ">
            <div class="flex items-start justify-between w-screen mb-4 sm:max-w-5xl">

         
     
                        <div class="col-span-4 p-2 ">
   <InputLabel for="te" value="Received Date" class="mb-2 ml-1 " />

            <Datepicker v-model="date"  :clearable="false"  :enableTimePicker="false" @update:modelValue="findStatus" range  autoApply  ></Datepicker>
                        </div>

                             <div class="col-span-4 col-start-6 mt-10 mr-4 text-gray-500 sm:col-start-5 ">
     <PrimaryButton @click="clicks" >Add Incoming Logs</PrimaryButton>
        
    </div>
            </div>
                    
               <div class="max-w-[30rem] mb-6 sm:max-w-5xl">
        <div class="p-1 ">
            <dataset
                v-slot="{ ds }"
                :ds-data="xapp_list"
                :ds-sortby="sortBy"
                  :ds-search-in="['doc_name','fullname']"
               
              
            >
                <div
                    class="w-screen pr-4 sm:pr-10 md:pr-[1rem] md:max-w-5xl"
                    :data-page-count="ds.dsPagecount"
                >

                    <div class="col-span-2 mb-3 ml-1 sm:ml-2 sm:col-span-8 ">
                        <dataset-search
                       
                            class="w-full border-gray-300"
                            ds-search-placeholder="Search Document Name , Recipient Name"
                        />
                    </div>
               
                     <div class="hidden col-span-4 mt-3">
                        <dataset-show class="border-gray-300" :ds-show-entries="10" @changed="selected = $event" />
                    </div> 
                </div>
                <div class="mx-auto">
                    <div class="">
                        <div class="p-0 sm:p-2 sm:block">
                            <table class="w-screen bg-white divide-y divide-gray-300 sm:w-full ">
                                <thead class="">
                                    <tr class="w-screen sm:w-full" >
                                    
                                        <th
                                            v-for="(th, index) in cols"
                                            :key="th.field"
                                            :class="['sort', th.sort]"
                                            @click="click($event, index)"
                                            class="px-3 py-4 text-xs font-medium tracking-wide text-left text-gray-500 uppercase "
                                        >
                                        <div class="flex items-center justify-start">

                                        <div>
                                            {{ th.name }}

                                        </div>
                                        <div>
                                            <i
                                                class="float-right ml-2 gg-select"
                                            ></i>
                                            
                                        </div>
                                        </div>
                                        </th>
                                    </tr>
                                </thead>
                                <dataset-item tag="tbody">
                                    <template #default="{row}">
                                        <tr  @click="tester(row)" class="w-screen text-left text-gray-700 hover:bg-gray-100 focus:bg-gray-100" >
                                       
                                       
                                         
                                            <td
                                                class="px-4 py-4 text-xs font-semibold"
                                            >
                                                {{ row.doc_name }}
                                            </td>
                                              
                                          
                                         
                                            <td
                                                class="px-3 py-4 text-xs whitespace-nowrap"
                                            >  
                                
                                                 {{ row.fullname }}
                               
                                              
                                            </td>
                                    
                                       <td
                                                class="px-3 py-4 text-xs whitespace-nowrap"
                                            >
                                                {{ (new Date(row.date)).toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}}
                                            </td>
                                               <td
                                                class="px-3 py-4 text-xs whitespace-nowrap"
                                            >
                                                {{ (new Date(row.created_at)).toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric',hour: 'numeric', minute: 'numeric', hour12: true })}}
                                            </td>
                                    
                                          
                                        </tr>
              
      
                                    </template>
                                </dataset-item>
                            </table>
                        </div>
   
                    </div>
                </div>
                <div class="flex justify-between w-screen sm:w-full align-items-center">
                      <dataset-info class="p-2 text-sm sm:text-sm mb-md-0 text-start sm:block" />
                    <dataset-pager class="flex p-2 mr-4 space-x-3 text-sm" />
                </div>
            </dataset>
        </div>
    </div>


        </div>

</div>
    
        </GuestLayout>
</template>

<script>
  import { VPerfectSignature } from 'v-perfect-signature';
import {Head } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/AuthenticatedLayout.vue'
import { ref, onMounted } from 'vue'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import OSignature from '@/Components/Incomng.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';

    import Datepicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css';
import {
    Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,
    DatasetSearch,
    DatasetShow,
} from "vue-dataset";
import { filterList } from "@/utilities/index.js";
import axios from 'axios';
import moment from 'moment'




export default {
    props:{
    
            //  all:{type: Array, default: () => null },
        
          office:{type: Array, default: () => null },
    },

    
    components:{
        Head,    VPerfectSignature,OSignature,
        moment,
    InputError,
InputLabel,
TextInput ,
Datepicker,
        PrimaryButton,
     Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,filterList,

    DatasetSearch,
    DatasetShow,
GuestLayout,
    },
data(){
    return{
id:"",
signature :"",
doc_name:"",
doc_ofc:"",
doc_other_ofc:"",
recp_name:"",
doc_date:"",
dates:"",
          form: this.$inertia.form({
           
                first_name: "",
                 last_name: "",
                  mid_name: "",
                    email:"",
                    password:"",
                    password_confirmation:"",
                    roles:"",
                holder:""
            }),
   startDate:"",
        endDate:"",
    test:false,
        hide:false,
        message:"",
            processing:false,
        showNo:false,
            keyword:"",
            messageS:false,
      xapp_list:[],
            Search:[],
     active: false,
     activeClass: 'block',
     onlineFilter: "",
            cols: [
           
  {
                    name: "Document Name",
                    field: "doc_name",
                    sort: "",
                    
                },
                  
               
                
                {
                    name: "Recipient Name",
                    field: "fullname",
                    sort: "",
                    
                },

                 {
                    name: "Document Date",
                    field: "date",
                    sort: "",
                    
                },
           
  {
                    name: "Received Date",
                    field: "created_at",
                    sort: "",
                    
                },
           
           

                
            ],
   
}
},

    methods: {
         closeModal(event) {
    if (event.target === event.currentTarget) {
      // target element is the modal itself, do nothing
      return;
    }
    // target element is outside the modal, close the modal
    this.test = false;
  },
        tester(row){
            this.test  = true;
                this.id=row.doc_id ;
                    this.signature=row.signature_data_uri ;
                      this.dates=row.date ;
                       this.doc_date=row.created_at ;
                        this.doc_name=row.doc_name ;
                  
                         this.recp_name=row.fullname;
        },
            clicks(){
            this.hide = !this.hide
        },

 download(user) {
      if (!user.signature_data_uri) {
        alert('Empty signature data!');
        return;
      }
      const link = document.createElement('a');
      link.download = `${user.first_name}-signature.png`;
      link.href = user.signature_data_uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
        
getUserSignature(user) {
  const signatureFile = user.signature_filename;
  const fileReader = new FileReader();

  return new Promise((resolve, reject) => {
    fileReader.onload = () => {
      const arrayBuffer = fileReader.result;
      const base64String = btoa(String.fromCharCode(...new Uint8Array(arrayBuffer)));
      const dataUri = `data:image/png;base64,${base64String}`;
      resolve(dataUri);
    };
    fileReader.onerror = () => {
      reject(fileReader.error);
    };
    fileReader.readAsArrayBuffer(signatureFile);
  });
},
 
   


          filterList,
        click(event, i) {
            let toset;
            const sortEl = this.cols[i];
            if (!event.shiftKey) {
                this.cols.forEach((o) => {
                    if (o.field !== sortEl.field) {
                        o.sort = "";
                    }
                });
            }
            if (!sortEl.sort) {
                toset = "asc";
            }
            if (sortEl.sort === "desc") {
                toset = event.shiftKey ? "" : "asc";
            }
            if (sortEl.sort === "asc") {
                toset = "desc";
            }
            sortEl.sort = toset;
        },


 async findStatus() {
        
   
         this.processing = true;
            axios
            .post(this.route('incoming'), {
                'start_date': moment(Object.values(this.date)[0]).format('YYYY-MM-DD'),
                  'end_date': moment(Object.values(this.date)[1]).format('YYYY-MM-DD'),
                   
                //  'start_date': moment(this.date).format('YYYY-MM-DD'),
                //   'end_date': moment(this.date).format('YYYY-MM-DD'),
                //     'start_date': Object.values(this.date)[0],
                //   'end_date': Object.values(this.date)[1],
            }).then(response => {
             
                  
               const { users} = response.data.users;
            console.log(response.data.users)

          
                    this.processing = false;
                       this.xapp_list = response.data.users;
      

            }).catch(error => {
                // console.log(error.response);
                if (error.response) {
               
                }
                // location.reload();
            });

            

        },

       
},




    computed: {

  
         
        sortBy() {
            return this.cols.reduce((acc, o) => {
                if (o.sort) {
                    o.sort === "asc"
                        ? acc.push(o.field)
                        : acc.push("-" + o.field);
                }
                return acc;
            }, []);
        },
    },

    setup() {
        const date = ref();
        const a = ref();
         const b = ref();
          
        // For demo purposes assign range from the current date
        onMounted(() => {
          
            const startDates = new Date();
            const endDates = new Date();
            date.value = [startDates, endDates];
          

   
        

        })
       

        return {
           date,a,b
            
        }
       },
     
         mounted() {
      
        this.findStatus();
    },


}
</script>

<style>
.modal{
    background: rgba(82, 80, 80, 0.3);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gg-select {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 22px;
    height: 22px;
}
.gg-select::after,
.gg-select::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 7px;
    transform: rotate(-45deg);
}
.gg-select::before {
    border-left: 2px solid;
    border-bottom: 2px solid;
    bottom: 4px;
    opacity: 0.3;
}
.gg-select::after {
    border-right: 2px solid;
    border-top: 2px solid;
    top: 4px;
    opacity: 0.3;
}
th.sort {
    cursor: pointer;
    user-select: none;
}
th.sort.asc .gg-select::after {
    opacity: 1;
}
th.sort.desc .gg-select::before {
    opacity: 1;
}
.pagination li a {
 display: block;
  text-decoration: none;
  color: #000;
  padding: 1px 5px;
  border: 1px solid #ddd;
  float: left;
}

 .pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
.pagination li.page-item.active {
  background-color: #4eb859;
  color: #fff;
}

.pagination li.page-item.active a {

  color: #fff;
}
.pagination li a:hover:not(.active) {
  background: #29ce60;
  color:#fff;
}
</style>