<template>
     <Head title="Search Business" />
        <GuestLayout>
 <div class="w-screen">



    <div class="py-2 text-3xl font-bold text-center uppercase text-dark tablet:mt-2">
        
     E-Logbook
        
    </div>
  
              
        <div class="flex flex-col items-center justify-start h-screen">
             <div>
        <img :src="$page.props.base_url + `assets/sd.png`" alt="" class="object-fit max-h-[15rem] ">
    </div>
            
            <div class="flex items-center w-full gap-4 justify-evenly">

            <PrimaryButton class="h-[3rem] sm:h-[3rem] sm:w-[12rem] text-2xl w-[12rem] rounded-3xl" @click="inc" >Incoming</PrimaryButton>
            <PrimaryButton class="h-[3rem] sm:h-[3rem] sm:w-[12rem] text-2xl w-[12rem] rounded-3xl" @click="out" >Outgoing</PrimaryButton>
           
            </div>
        </div>
<!-- <div class="mx-auto tablet:mb-2">
    <Signatures :office="office"  />
</div> -->
        <!-- <div class="mt-12 w-full tablet:min-w-[58rem] laptop:w-full desktop:w-full">
               <div class="mb-6 ">
        <div class="overflow-auto ">
            <dataset
                v-slot="{ ds }"
                :ds-data="xapp_list"
                :ds-sortby="sortBy"
               
               
              
            >
                <div
                    class="grid grid-cols-12"
                    :data-page-count="ds.dsPagecount"
                >
               
                     <div class="hidden col-span-6 mt-3">
                        <dataset-show class="border-gray-300" :ds-show-entries="selected" @changed="selected = $event" />
                    </div> 
                </div>
                <div class="tablet:w-full ">
                    <div class="">
                     
                            <table class="mx-auto divide-y divide-gray-300">
                                <thead class="bg-white">
                                    <tr >
                                       
                                        <th
                                            v-for="(th, index) in cols"
                                            :key="th.field"
                                            :class="['sort', th.sort]"
                                            @click="click($event, index)"
                                            class="px-2 py-2 text-xs font-medium text-center text-gray-500 uppercase "
                                        >
                                            {{ th.name }}
                                            <i
                                                class="float-right gg-select"
                                            ></i>
                                        </th>
                                    </tr>
                                </thead>
                                <dataset-item tag="tbody">
                                    <template #default="{row}">
                                        <tr   class="bg-white">
                                       
                                       
                                               <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >
                                                {{ row.id }}
                                            </td>
                                         
                                            <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >
                                                {{ row.doc_name }}
                                            </td>
                                               <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >
                                              {{ row.recv_ofc }}
                                               
                                            </td>
                                          
                                         
                                            <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >  
                                
                                                 {{ row.fullname }}
                               
                                              
                                            </td>
                                    
                                    
                                                      <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >
                              
                                                        <img :src="row.signature_data_uri" alt="" class="max-h-[5rem] min-w-[5rem]">    
                                               
                                            </td>
                                               <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >
                                             {{ new Date(row.date).toLocaleString() }}

                                            </td>
                                            <td
                                                class="px-6 py-4 text-xs whitespace-nowrap"
                                            >
                                             {{ new Date(row.created_at).toLocaleString() }}

                                            </td>
                                        </tr>
              
      
                                    </template>
                                </dataset-item>
                            </table>
                
   
                    </div>
                </div>
                <div class="flex justify-between align-items-center">
                      <dataset-info class="hidden p-2 text-xs sm:text-lg mb-md-0 text-start sm:block" />
                    <dataset-pager class="flex p-2 space-x-3" />
                </div>
            </dataset>
        </div>
    </div>


        </div> -->

</div>
    
        </GuestLayout>
</template>

<script>
  import { VPerfectSignature } from 'v-perfect-signature';
import {Head } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/AuthenticatedLayout.vue'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Signatures from '@/Pages/Signature.vue';
import TextInput from '@/Components/TextInput.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';

    import Datepicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css';
import {
    Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,
    DatasetSearch,
    DatasetShow,
} from "vue-dataset";
import { filterList } from "@/utilities/index.js";
import axios from 'axios';
import moment from 'moment'




export default {
    props:{
    
            //  all:{type: Array, default: () => null },
             users:{type: Array, default: () => null },
               office:{type: Array, default: () => null },

    },

    
    components:{
        Signatures,
        Head,    VPerfectSignature,
        moment,
    InputError,
InputLabel,
TextInput ,
Datepicker,
        PrimaryButton,
     Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,filterList,

    DatasetSearch,
    DatasetShow,
GuestLayout,
    },
data(){
    return{

          form: this.$inertia.form({
           
                first_name: "",
                 last_name: "",
                  mid_name: "",
                    email:"",
                    password:"",
                    password_confirmation:"",
                    roles:"",
                holder:""
            }),


        hide:true,
        message:"",
            processing:false,
        showNo:false,
            keyword:"",
            messageS:false,
      xapp_list:this.users,
            Search:[],
     active: false,
     activeClass: 'block',
     onlineFilter: "",
            cols: [
                {
                    name: "ID",
                    field: "id",
                    sort: "",
                   
                },
  {
                    name: "Document Name",
                    field: "doc_name",
                    sort: "",
                    
                },
                    {
                    name: "Receiving Offc",
                    field: "recv_ofc",
                    sort: "",
                    
                },
               
                
                {
                    name: "Recipient Name",
                    field: "fullname",
                    sort: "",
                    
                },
                {
                    name: "Image",
                    field: "signature_filename",
                    sort: "",
                    
                },

                    {
                    name: "Date/Time of Receipt",
                    field: "date",
                    sort: "",
                    
                },

                   {
                    name: "Date Released",
                    field: "created_at",
                    sort: "",
                    
                },
            ],
   
}
},

    methods: {

        out(){
  this.$inertia.visit('outgoings');
        },
        inc(){
             this.$inertia.visit('incomings'); 
        },
 download(user) {
      if (!user.signature_data_uri) {
        alert('Empty signature data!');
        return;
      }
      const link = document.createElement('a');
      link.download = `${user.first_name}-signature.png`;
      link.href = user.signature_data_uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
        
getUserSignature(user) {
  const signatureFile = user.signature_filename;
  const fileReader = new FileReader();

  return new Promise((resolve, reject) => {
    fileReader.onload = () => {
      const arrayBuffer = fileReader.result;
      const base64String = btoa(String.fromCharCode(...new Uint8Array(arrayBuffer)));
      const dataUri = `data:image/png;base64,${base64String}`;
      resolve(dataUri);
    };
    fileReader.onerror = () => {
      reject(fileReader.error);
    };
    fileReader.readAsArrayBuffer(signatureFile);
  });
},
 
   


          filterList,
        click(event, i) {
            let toset;
            const sortEl = this.cols[i];
            if (!event.shiftKey) {
                this.cols.forEach((o) => {
                    if (o.field !== sortEl.field) {
                        o.sort = "";
                    }
                });
            }
            if (!sortEl.sort) {
                toset = "asc";
            }
            if (sortEl.sort === "desc") {
                toset = event.shiftKey ? "" : "asc";
            }
            if (sortEl.sort === "asc") {
                toset = "desc";
            }
            sortEl.sort = toset;
        },



       
},


    computed: {

  
         
        sortBy() {
            return this.cols.reduce((acc, o) => {
                if (o.sort) {
                    o.sort === "asc"
                        ? acc.push(o.field)
                        : acc.push("-" + o.field);
                }
                return acc;
            }, []);
        },
    },



}
</script>

<style>
.modal{
    background: rgba(82, 80, 80, 0.3);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gg-select {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 30px;
    height: 22px;
}
.gg-select::after,
.gg-select::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 7px;
    transform: rotate(-45deg);
}
.gg-select::before {
    border-left: 2px solid;
    border-bottom: 2px solid;
    bottom: 4px;
    opacity: 0.3;
}
.gg-select::after {
    border-right: 2px solid;
    border-top: 2px solid;
    top: 4px;
    opacity: 0.3;
}
th.sort {
    cursor: pointer;
    user-select: none;
}
th.sort.asc .gg-select::after {
    opacity: 1;
}
th.sort.desc .gg-select::before {
    opacity: 1;
}
.pagination li a {
 display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;
}

 .pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
.pagination li.page-item.active {
  background-color: #4eb859;
  color: #fff;
}

.pagination li.page-item.active a {

  color: #fff;
}
.pagination li a:hover:not(.active) {
  background: #ddd;
}
</style>