<template>
  <GuestLayout>
<div class="min-h-[100rem] w-screen mt-20">
<div class="text-4xl font-bold text-center text-green-500">
SUPPORT FORM
</div>

<div class="rounded-md shadow-md mx-auto min-h-[30rem] max-w-[30rem] laptop:mt-15 desktop:mt-20 p-4 mb-10">
    <form>
         <div class="mt-4">
                 <InputLabel for="Category" value="Requested By" />
                    <select name="Category" id="Category"  v-model="form.last_name"  class="block w-full mt-1 border-gray-300 rounded-md ">
                            <option value="" selected hidden disabled>
                                    Select one

                            </option>
                            <option value="Software">
                                 Software

                            </option>
                            <option value="Hardware">
                                   Hardware

                            </option>
                           

                    </select>
                </div>
              <div class="mt-4">
                 <InputLabel for="Category" value="Category Options" />
                    <select name="Category" id="Category"  v-model="form.category"  class="block w-full mt-1 border-gray-300 rounded-md ">
                            <option value="" selected hidden disabled>
                                    Select one

                            </option>
                            <option value="Software">
                                 Software

                            </option>
                            <option value="Hardware">
                                   Hardware

                            </option>
                           

                    </select>
                    <InputError class="mt-2" :message="form.errors.paid" />
            </div>

                   <div class="mt-4" v-if="form.category==='Software'">
                 <InputLabel for="Description" value="Type Of Software" />
                    <select name="Description" id="Description"  v-model="form.description"  class="block w-full mt-1 border-gray-300 rounded-md ">
                            <option value="" selected hidden disabled>
                                    Select one

                            </option>
                            <option value="Category">
                                Test

                            </option>
                            <option value="Pay Later">
                                Teest2

                            </option>
                           

                    </select>
                    <InputError class="mt-2" :message="form.errors.paid" />
            </div>

            <div class="mt-4">

                  <InputLabel for="Remarks" value="Remarks" />
                    <textarea name="Remarks" id="Remarks" cols="55" rows="10" class="border-gray-300 rounded-md" v-model="remarks">

                        
                    </textarea>
            </div>
<div class="mt-6 text-center">
              <PrimaryButton class="w-full text-center rounded-2xl sm:w-1/2" :class="{ 'opacity-25': form.processing }" :disabled="form.processing" @click="submit">
                    Submit Request
                </PrimaryButton>
                </div>
    </form>
</div>
</div>
  </GuestLayout>

</template>

<script>
import GuestLayout from '@/Layouts/Support.vue'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/Rebutton.vue';
import TextInput from '@/Components/TextInput.vue';
export default {


components:{

    GuestLayout,InputError,
    InputLabel,PrimaryButton,TextInput
},
data(){
    return{
        form: this.$inertia.form({
category:'',
description:'',
remarks:'',

        }),
    }
}
}
</script>

<style>

</style>