<template>
     <Head title="Search Business" />
        <GuestLayout>
 <div class="min-h-[100rem] ">
</div>
        </GuestLayout>
</template>

<script>
import {Head } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/AuthenticatedLayout.vue'
import axios from 'axios';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';

export default {
components:{
    GuestLayout,
    Head,
    PrimaryButton,TextInput
},
data(){
    return{
            processing:false,
        showNo:false,
            keyword:"",
        tracking_id:"KKQ4LKY1YD6QB",
            Search:[],
     active: false,
     activeClass: 'block',
 alert: {
                alert_type: "",
                alert_message: "",
            },
    }
   
},


    methods: {

         formattedPrices(value) {
      // Use the Intl.NumberFormat API to format the price as a currency value
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'PHP'
      })
      return formatter.format(value)
    },
         scrollBehavior () {
       return { x: 0, y: 0 }
    },
       
//  getReference() {

//       let uri = 'https://bplo-admin.keridelivery.com/requests/trackingid/KKQ4LKY1YD6QB';
//       axios.get(uri)
//       .then(response => {
//        console.log(response)
//       });
//           } , 
  showDetails() {
       this.active = !this.active;
    //    this.$forceUpdate();
    },
  showDetail(search) {
       search.active = !search.active;
    //    this.$forceUpdate();
    },
        getResults() {
            this.active = false;
           this.Search=[];
    this.processing= true;
            axios
            .post(this.route('search'), {
                'keyword': this.keyword,
                
            }).then(response => {
                const {info} = response.data.info;
       
             this.processing= false;
                this.track_disabled = false;
        

               
   this.Search = response.data.info;
                    if(Object.keys(this.Search).length === 0  ){
                        this.showNo = true;

                }
           
           }).catch(error => {
            
             
                if (error.response) {
                           this.alert.alert_type = 'error';
                 
                
                }
                // location.reload();
            });
               
            
                
        }
},
 mounted () {
this.$refs.search.$el.focus()
  },

}
</script>

<style>
.modal{
    background: rgba(82, 80, 80, 0.3);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
</style>