<template>
     <Head title="Search Business" />
        <GuestLayout>
 <div class="min-h-[100rem] ">

   <!-- <div v-for="user in users" :key="user">
    <div>{{user.first_name}}</div>
    <img v-if="user.signature_data_uri" :src="user.signature_data_uri" />
    <button class="download-btn" @click="download(user)">
      Download Signature
    </button>
  </div> -->
             <div
 
  class="fixed inset-0 z-10 flex items-center justify-center w-full modal bg-semi-75"
  v-if="!hide"
>
  
  <div class="w-full max-w-3xl p-8">
    <div
            class="m-1 overflow-hidden bg-gray-50 rounded-md  max-h-screen sm:max-h-[55rem] shadow-md md:mx-auto md:max-w-lg"
            
        >
            <div class="px-6 py-3 text-2xl">
                    Add User
            </div>
                
            <div class="bg-gray-50 ">
                <div
                    class="grid grid-cols-1 px-4 py-5 md:px-6 md:grid-cols-3 place-content-center "
                   
                >
                        <div class="col-span-3 mt-1 ">
                            <div>
                                            <InputLabel value="Last Name"/>   
                                                  <TextInput id="last" type="text" class="block w-full mt-1" v-model="form.last_name"  />           
                                </div>
                           
                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                        <InputLabel value="First Name"/>
                                                       <TextInput id="first" type="text" class="block w-full mt-1" v-model="form.first_name"  />                                                                     
                            </div>
                          
                            </div>


                                     <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Middle Name"/>
                   <TextInput id="oth" type="text" class="block w-full mt-1" v-model="form.mid_name"  />   
                            </div>

                        
                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Email"/>
                   <TextInput id="otsh" type="email" class="block w-full mt-1" v-model="form.email" />   
                            </div>

                        
                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Password"/>
                   <TextInput id="oth" type="password" class="block w-full mt-1" v-model="form.password" autocomplete="new-password" />   
                   
                            </div>

                        
                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Confirm Password"/>
                   <TextInput id="othss" type="password" class="block w-full mt-1" v-model="form.password_confirmation"  />   
                            </div>

                        
                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Role"/>
                   <select name="role" id="role" v-model="form.roles" class="block w-full mt-1 border-gray-300 rounded-md">
                          <option  selected hidden value="" >Choose Role
                                     </option >
                                     <option :value="0
                                     ">0
                                     </option >
                                           <option :value="1 
                                     ">1
                                       </option>
                                             <option :value="2 
                                     ">2
                                     </option>
                                     
                                     </select>  
                            </div>

                        
                            </div>
                
                </div>
             
           <div class="items-center justify-between block w-3/4 mx-auto mb-6 sm:flex sm:mb-6 ">
           
               <PrimaryButton class="w-full mb-4 text-center sm:mb-0 rounded-xl sm:mr-6"  @click="AddUser">
                    Cancel
                </PrimaryButton>
              
              
                 <PrimaryButton class="w-full text-center rounded-xl"   @click="submit">
                  Add User
                </PrimaryButton>
           </div>
   
  </div>
  </div>

  </div>


</div>

    <div class="mt-20 text-gray-500">
        USER SETTINGS
        
    </div>
                <PrimaryButton @click="AddUser" >
                    Add User
                </PrimaryButton>


  
                                                <div class="p-4 mb-4 text-sm text-green-800 transition ease-in-out rounded-lg bg-green-50" role="alert" v-if="messageS">
  <span class="font-medium">Roles Change Successfully</span> 
</div>
        <div>
               <div class="mt-6 mb-6 bg-white">
        <div class="container p-3 overflow-auto">
            <dataset
                v-slot="{ ds }"
                :ds-data="xapp_list"
                :ds-sortby="sortBy"
               
               
              
            >
                <div
                    class="grid grid-cols-12"
                    :data-page-count="ds.dsPagecount"
                >
               
                     <div class="hidden col-span-6 mt-3">
                        <dataset-show class="border-gray-300" :ds-show-entries="selected" @changed="selected = $event" />
                    </div> 
                </div>
                <div class="grid grid-cols-6">
                    <div class="col-span-6">
                        <div class="hidden p-2 shadow sm:block">
                            <table class="min-w-full divide-y divide-gray-300 ">
                                <thead class="bg-white">
                                    <tr >
                                       
                                        <th
                                            v-for="(th, index) in cols"
                                            :key="th.field"
                                            :class="['sort', th.sort]"
                                            @click="click($event, index)"
                                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
                                        >
                                            {{ th.name }}
                                            <i
                                                class="float-right gg-select"
                                            ></i>
                                        </th>
                                    </tr>
                                </thead>
                                <dataset-item tag="tbody">
                                    <template #default="{row}">
                                        <tr   >
                                       
                                       
                                               <td
                                                class="px-6 py-4 whitespace-nowrap"
                                            >
                                                {{ row.id }}
                                            </td>
                                         
                                            <td
                                                class="px-6 py-4 whitespace-nowrap"
                                            >
                                                {{ row.last_name }}
                                            </td>
                                               <td
                                                class="px-6 py-4 whitespace-nowrap"
                                            >
                                              {{ row.first_name }}
                                               
                                            </td>
                                          
                                         
                                            <td
                                                class="px-6 py-4 whitespace-nowrap"
                                            >  
                                     <select name="
                                     " id="" v-model="row.roles">
                                     <option :value="0
                                     ">0
                                     </option >
                                           <option :value="1 
                                     ">1
                                       </option>
                                             <option :value="2 
                                     ">2
                                     </option>
                                     
                                     </select>
                                              
                                            </td>

                                                      <td
                                                class="px-6 py-4 whitespace-nowrap"
                                            >
                              
                                                        <img :src="row.signature_data_uri" alt="">    
                                               
                                            </td>
                                               <td
                                                class="px-6 py-4 whitespace-nowrap"
                                            >
                                            <button @click="getResults(row)">Update</button>

                                            </td>
                                          
                                        </tr>
              
      
                                    </template>
                                </dataset-item>
                            </table>
                        </div>
   
                    </div>
                </div>
                <div class="flex justify-between align-items-center">
                      <dataset-info class="hidden p-2 text-xs sm:text-lg mb-md-0 text-start sm:block" />
                    <dataset-pager class="flex p-2 space-x-3" />
                </div>
            </dataset>
        </div>
    </div>


        </div>

</div>
    
        </GuestLayout>
</template>

<script>
  import { VPerfectSignature } from 'v-perfect-signature';
import {Head } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/AuthenticatedLayout.vue'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import {
    Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,
    DatasetSearch,
    DatasetShow,
} from "vue-dataset";
import { filterList } from "@/utilities/index.js";
import axios from 'axios';
import moment from 'moment'




export default {
    props:{
    
            //  all:{type: Array, default: () => null },
             users:{type: Array, default: () => null },

    },

    
    components:{
        Head,    VPerfectSignature,
        moment,
    InputError,
InputLabel,
TextInput ,
        PrimaryButton,
     Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,filterList,

    DatasetSearch,
    DatasetShow,
GuestLayout,
    },
data(){
    return{

          form: this.$inertia.form({
           
                first_name: "",
                 last_name: "",
                  mid_name: "",
                    email:"",
                    password:"",
                    password_confirmation:"",
                    roles:"",
                holder:""
            }),


        hide:true,
        message:"",
            processing:false,
        showNo:false,
            keyword:"",
            messageS:false,
      xapp_list:this.users,
            Search:[],
     active: false,
     activeClass: 'block',
     onlineFilter: "",
            cols: [
                {
                    name: "User ID",
                    field: "id",
                    sort: "",
                   
                },
  {
                    name: "Last Name",
                    field: "last_name",
                    sort: "",
                    
                },
                    {
                    name: "First Name",
                    field: "first_name",
                    sort: "",
                    
                },
               
                
                {
                    name: "Roles",
                    field: "roles",
                    sort: "",
                    
                },
                {
                    name: "Image",
                    field: "signature_filename",
                    sort: "",
                    
                },

                    {
                    name: "Action",
                    field: "roles",
                    sort: "",
                    
                },

                
            ],
   
}
},

    methods: {
 download(user) {
      if (!user.signature_data_uri) {
        alert('Empty signature data!');
        return;
      }
      const link = document.createElement('a');
      link.download = `${user.first_name}-signature.png`;
      link.href = user.signature_data_uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
        
getUserSignature(user) {
  const signatureFile = user.signature_filename;
  const fileReader = new FileReader();

  return new Promise((resolve, reject) => {
    fileReader.onload = () => {
      const arrayBuffer = fileReader.result;
      const base64String = btoa(String.fromCharCode(...new Uint8Array(arrayBuffer)));
      const dataUri = `data:image/png;base64,${base64String}`;
      resolve(dataUri);
    };
    fileReader.onerror = () => {
      reject(fileReader.error);
    };
    fileReader.readAsArrayBuffer(signatureFile);
  });
},
  AddUser(){
        this.form.reset(
                      
                     
                        "last_name",
                        "first_name",
                        "mid_name",
                        "roles",
                        "email",
                        "password",
                        "password_confirmation",

                    
                    );
this.hide = !this.hide;
    },
 
  submit() {


   
            this.hasErrors = false;

            this.error_fullname = '';

            this.form.post(this.route("adduser"), {
                  forceFormData: true,
                onFinish: () => {},
                  onError: (resp_data) => {
                    this.$refs.main.scrollTo(0, 0);
                  
                 },
                onSuccess: (resp_data) => {
                    const { ref_id} = resp_data.props;

                console.log(ref_id);

   

                    this.form.reset(
                      
                     
                        "last_name",
                        "first_name",
                        "mid_name",
                        "roles",
                        "email",
                        "password",
                        "password_confirmation",

                    
                    );
             
            this.$inertia.visit('users');
                },
        
            });
        },    
        
  showDetails() {
       this.active = !this.active;
    //    this.$forceUpdate();
    },
  showDetail(search) {
       search.active = !search.active;
    //    this.$forceUpdate();
    },
        getResults(id) {
       
    this.processing= true;
            axios
            .post(this.route('rolechange'), {
                'id': id.id,
                'roles':id.roles,
                
            }).then(response => {
             
               this.messageS = true;

                setTimeout(() => this.messageS = false, 3000);
            
                this.track_disabled = false;
        

  
           }).catch(error => {
            
             
                if (error.response) {
                           this.alert.alert_type = 'error';
                 
                
                }
                // location.reload();
            });
               
            
                
        },


          filterList,
        click(event, i) {
            let toset;
            const sortEl = this.cols[i];
            if (!event.shiftKey) {
                this.cols.forEach((o) => {
                    if (o.field !== sortEl.field) {
                        o.sort = "";
                    }
                });
            }
            if (!sortEl.sort) {
                toset = "asc";
            }
            if (sortEl.sort === "desc") {
                toset = event.shiftKey ? "" : "asc";
            }
            if (sortEl.sort === "asc") {
                toset = "desc";
            }
            sortEl.sort = toset;
        },

save() {
    var _this = this;
    var jpeg = _this.$refs.signature.save('image/png');
   
    var file = new File([jpeg], "signature.png", {type: "image/png"});
    this.form.holder = file;


        
    },


		clear(){
			var _this = this;
			_this.$refs.signature.clear();
        _this.form.holder = ""
		},
		undo(){
			var _this = this;
			_this.$refs.signature.undo();
		},


       
},


    computed: {

  
         
        sortBy() {
            return this.cols.reduce((acc, o) => {
                if (o.sort) {
                    o.sort === "asc"
                        ? acc.push(o.field)
                        : acc.push("-" + o.field);
                }
                return acc;
            }, []);
        },
    },



}
</script>

<style>
.modal{
    background: rgba(82, 80, 80, 0.3);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gg-select {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 22px;
    height: 22px;
}
.gg-select::after,
.gg-select::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 7px;
    transform: rotate(-45deg);
}
.gg-select::before {
    border-left: 2px solid;
    border-bottom: 2px solid;
    bottom: 4px;
    opacity: 0.3;
}
.gg-select::after {
    border-right: 2px solid;
    border-top: 2px solid;
    top: 4px;
    opacity: 0.3;
}
th.sort {
    cursor: pointer;
    user-select: none;
}
th.sort.asc .gg-select::after {
    opacity: 1;
}
th.sort.desc .gg-select::before {
    opacity: 1;
}
.pagination li a {
 display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;
}

 .pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
.pagination li.page-item.active {
  background-color: #4eb859;
  color: #fff;
}

.pagination li.page-item.active a {

  color: #fff;
}
.pagination li a:hover:not(.active) {
  background: #ddd;
}
</style>