<template>
   <div class="logo">
     <img :src="$page.props.base_url + `assets/City.png`" class="max-h-[2.5rem] mr-2" /> <span class="w-full text-lg tracking-wider sm:w-full sm:text-2xl">City Government of San Pedro Laguna</span>
   </div>
</template>
<style>

.logo {
 
    max-width: 100%;
    display: flex;
    align-items: center;

    font-weight: 700;
    color:
#2e7c36;

}
/* .logo img {
    margin-right: 0.7em;
   max-height : 5.8vh;
} */
</style>