<template>
   
     

           
     <!-- <div>
 <VPerfectSignature :stroke-options="strokeOptions" ref="signaturePad" :width="'300px'" :height="'300px'"  :backgroundColor="'white'" />
        <div class="flex">

		<PrimaryButton @click="save">Save</PrimaryButton>

        <PrimaryButton @click="clear">Clear</PrimaryButton>
        </div>
	
 </div> -->
 <div class="sm:w-[35rem] w-[30rem] ">
    <div
            class=" sm:w-[35rem] w-[30rem] p-5 sm:p-6 mx-auto bg-white rounded-xl shadow-md "
            
        >
        <div class="px-2 py-2 text-xl font-bold text-dark">
               Create Incoming Logs 
       
                    <div class="ml-1 text-xs italic font-medium text-gray-500">
                  Please Fill up the ff:
            </div>
        </div>
        
                
           
      <div v-if="step === 1" class="">
        <div class="grid grid-cols-3 px-2 py-2 md:grid-cols-3 place-content-center ">
          <div class="col-span-3 mt-1">
            <div>
              <InputLabel value="Document Name" />
              <TextInput id="last" type="text" class="block w-full mt-1" v-model="form.doc_name"   :class="{ 'border-red-500': v$.form.doc_name.$error }" />
              <InputError class="mt-1" :message="form.errors.doc_name" />
                  <div v-if="v$.form.doc_name.$error" class="mt-1 text-xs text-red-500">
                           Document Name is required
                        </div>
            </div>
          </div>
     
          <div class="col-span-3 mt-2 mb-2">
            <div>
              <InputLabel for="te" value="Document Date" class="mb-1" />
             
              <Datepicker v-model="form.date" :clearable="false" :enableTimePicker="false" teleport-center auto-apply placeholder="Select Document Date" :style="datepickerStyle" ></Datepicker>
             
              <InputError class="mt-1" :message="form.errors.date" />
              <div v-if="v$.form.date.$error" class="mt-1 text-xs text-red-500">
                          Document Date is required
                        </div>
              
            </div>
          </div>

                     <div class="col-span-3 mt-2">
                        
                           

                                <div class="flex justify-between">

                                   <InputLabel value="Signature" class="mb-1"/>
                                      <button @click="clear" class="p-1 mb-1 text-xs font-medium text-white rounded bg-greens">Clear</button>
                                </div>
                                
 <VPerfectSignature :stroke-options="strokeOptions" ref="signaturePad"   class=" bg-gray-100 rounded-md shadow-md max-h-[15rem] sm:max-h-[9rem]  tablet:max-w-[30rem] max-w-[35rem]"/>
                      <InputError class="mt-1" v-if="err"  message="Please Sign The Signature Field "/> 
                                                                    
                     
                                
                      
                            </div>

               <!-- <div class="col-span-3 mt-2 mb-2">
            <div>
              <InputLabel value="Receiving Office" />
              <select name="role" id="role" v-model="form.recv_ofc" class="block w-full mt-1 border-gray-300 rounded-md" :class="{ 'border-red-500': v$.form.recv_ofc.$error }">
                <option selected hidden value="">Choose Office</option>
                <option v-for="offices in officess" :key="offices" :value="offices.label">
                  {{offices.label}}
                </option>
              <option  value="OTHERS">Others (Please specify below)</option>
              </select>

              <InputError class="mt-1" :message="form.errors.recv_ofc" />
                  <div v-if="v$.form.recv_ofc.$error" class="text-xs text-red-500">
                           Receiving Office is required
                        </div>
            </div>
          </div>

            <div class="col-span-3 mt-2" v-if="form.recv_ofc =='OTHERS'">
            <div>
              <InputLabel for="te" value="Please Specify Here (Office)" class="mb-2 " />

                   <TextInput id="last" type="text" class="block w-full mt-1" v-model="form.others_recv_ofc"  :class="{ 'border-red-500': v$.form.others_recv_ofc.req.$invalid }" />
              <InputError class="mt-1" :message="form.errors.others_recv_ofc" />

              <div v-if="v$.form.others_recv_ofc.req.$invalid" class="text-xs text-red-500">
                           Others Receiving Office is required
                        </div>
            </div>
          </div> -->
          <div class="col-span-3 mt-8">
            <div class="flex justify-between">
              <PrimaryButton class="text-gray-400 cursor-default" @click="AddUser">Cancel</PrimaryButton>
              <PrimaryButton @click="submit" class="max-w-full">Submit</PrimaryButton>
            </div>
          </div>
        </div>
      </div>
<!-- <div v-if="step === 2" class="bg-white">
        <div class="grid grid-cols-1 px-4 py-5 md:grid-cols-3 place-content-center">
            <div class="col-span-3 mt-1 ">
                            <div>
                                              <InputLabel value="Recipient Last Name"/>   
                                                  <TextInput id="last" type="text" class="block w-full mt-1" v-model="form.recp_lastname " :class="{ 'border-red-500': v$.form.recp_lastname.req.$invalid || v$.form.recp_lastname.alphaNumAndDotValidator.$invalid }" />   

                                                   <InputError class="mt-1" :message="form.errors.recp_lastname" />         
                                </div>
 <div v-if="v$.form.recp_lastname.req.$invalid" class="mt-1 text-xs text-red-500">
                           Recipient Last Name is required
                        </div>
                         <div v-else-if=" v$.form.recp_lastname.alphaNumAndDotValidator.$invalid" class="mt-1 text-xs text-red-500">
                            Only Alphabet letters are applicable
                        </div>
                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                        <InputLabel value="Recipient First Name"/>
                                                       <TextInput id="first" type="text" class="block w-full mt-1" v-model="form.recp_firstname" :class="{ 'border-red-500': v$.form.recp_firstname.req.$invalid || v$.form.recp_firstname.alphaNumAndDotValidator.$invalid }"  />  
                                                       <InputError class="mt-1" :message="form.errors.recp_firstname" /> 
                                                                                                                          
                            </div>
                          <div v-if="v$.form.recp_firstname.req.$invalid" class="mt-1 text-xs text-red-500">
                           Recipient First Name is required
                        </div>
                         <div v-else-if=" v$.form.recp_firstname.alphaNumAndDotValidator.$invalid" class="mt-1 text-xs text-red-500">
                            Only Alphabet letters are applicable
                        </div>
                            </div>


                                     <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Recipient Middle Name"/>
                   <TextInput id="oth" type="text" class="block w-full mt-1" v-model="form.recp_midname" :class="{ 'border-red-500': v$.form.recp_midname.alphaNumAndDotValidator.$invalid }" />   
                            </div>
 <div v-if=" v$.form.recp_midname.alphaNumAndDotValidator.$invalid" class="mt-1 text-xs text-red-500">
                            Only Alphabet letters are applicable
                        </div>
                        
                            </div>
          <div class="col-span-3 mt-8">
            <div class="flex justify-between">
              <PrimaryButton @click="step = 1">Previous</PrimaryButton>
              <PrimaryButton @click="stepTwo" class="max-w-full">Next</PrimaryButton>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div v-if="step === 3" class="bg-white">
        <div class="grid grid-cols-1 px-4 py-5 md:grid-cols-3 place-content-center">
    

                                     <div class="col-span-3 mt-1">
                        
                           

                                <div class="flex justify-between">

                                   <InputLabel value="Signature" class="mb-1"/>
                                      <button @click="clear" class="p-1 mb-1 text-xs font-medium text-white rounded bg-greens">Clear</button>
                                </div>
                                
 <VPerfectSignature :stroke-options="strokeOptions" ref="signaturePad"   class=" bg-gray-100 rounded-md shadow-md max-h-[15rem] sm:max-h-[13rem]  tablet:max-w-[35rem] "/>
                      <InputError class="mt-1" v-if="err"  message="Please Sign The Signature Field "/> 
                                                                    
                     
                                
                      
                            </div>


                        
                            
                            
          <div class="col-span-3 mt-10">
            <div class="flex justify-between">
              <PrimaryButton @click="step = 2">Previous</PrimaryButton>
              <PrimaryButton @click="submit" class="max-w-full">Submit</PrimaryButton>
            </div>
          </div>
        </div>
      </div> -->
                                <!-- <div class="col-span-3 mt-1">
                            <div>
                           <InputLabel for="te" value="Enter Receipt Date" class="mb-2 " />

            <Datepicker v-model="form.date"  :clearable="false"  :enableTimePicker="false"  teleport-center  auto-apply placeholder="Select Date"></Datepicker>
                                    <InputError class="mt-1" :message="form.errors.date" /> 
                        
                            </div>
                       </div>
                        <div class="col-span-3 mt-1 ">
                            <div>
                                            <InputLabel value="Recipient Last Name"/>   
                                                  <TextInput id="last" type="text" class="block w-full mt-1" v-model="form.recp_lastname"  />   

                                                   <InputError class="mt-1" :message="form.errors.recp_lastname" />         
                                </div>

                            </div>
                        <div class="col-span-3 mt-1">
                            <div>
                                        <InputLabel value="Recipient First Name"/>
                                                       <TextInput id="first" type="text" class="block w-full mt-1" v-model="form.recp_firstname"  />  
                                                       <InputError class="mt-1" :message="form.errors.recp_firstname" /> 
                                                                                                                          
                            </div>
                          
                            </div>


                                     <div class="col-span-3 mt-1">
                            <div>
                                <InputLabel value="Recipient Middle Name"/>
                   <TextInput id="oth" type="text" class="block w-full mt-1" v-model="form.recp_midname"  />   
                            </div>

                        
                            </div>
                 
                                  -->


                        <!-- <div class="col-span-3 mt-2">
                                <div class="grid grid-cols-10 ">
                                        <div class="col-span-9">

                                   <InputLabel value="Signature" class="mb-1"/>
                                
 <VPerfectSignature :stroke-options="strokeOptions" ref="signaturePad"   class="mx-auto bg-gray-100 rounded-md shadow-md max-h-[14rem]  tablet:max-w-[25rem] "/>
                      <InputError class="mt-1" v-if="err"  message="Please Sign The Signature Field "/> 
                                        </div>
                        
                                      
    <div class="col-span-1 p-8">
        <button @click="clear" class="p-2 text-xs font-medium text-white rounded bg-greens ">Clear</button>

    </div>
                                </div>

  
	

                        </div> -->
               
           <!-- <div class="items-center justify-between block w-3/4 mx-auto mt-6 mb-6 sm:flex sm:mb-6 ">
           
               <PrimaryButton class="w-full mb-4 text-center sm:mb-0 rounded-xl sm:mr-6"  @click="AddUser">
                    Cancel
                </PrimaryButton>
                                        <PrimaryButton class="w-full text-center rounded-xl"   @click="submit">
                Submit
                </PrimaryButton>
           </div>
    -->

 </div>
             
  </div>
  
                                             

    
</template>

<script>
const alphaNumAndDotValidator = helpers.regex( /^[a-zñ_ ]*$/i);
  import { VPerfectSignature } from 'v-perfect-signature';
import {Head } from '@inertiajs/inertia-vue3';
import { required ,requiredIf,helpers,} from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import GuestLayout from '@/Layouts/AuthenticatedLayout.vue'
    import Datepicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css';
import {
    
    Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,
    DatasetSearch,
    DatasetShow,
} from "vue-dataset";
import { filterList } from "@/utilities/index.js";

import axios from 'axios';


const strokeOptions = {
  size: 4,
  thinning: 0.5,
  smoothing: 0.5,
  streamline: 0.5,
  last: true,
}
export default {
 props:{
    office:{type: Array, default: () => null },
 },
 
    components:{
        Head,
        GuestLayout,
        VPerfectSignature,
    InputError,
InputLabel,
TextInput ,
Datepicker,
        PrimaryButton,
     Dataset,
    DatasetItem,
    DatasetInfo,
    DatasetPager,filterList,

    DatasetSearch,
    DatasetShow,

    },
data(){
    return{
        flow:['calendar','time'],
imageUrl:"",
officess:this.office,
 v$:useVuelidate(),
          form: this.$inertia.form({
  date:"",
  others_recv_ofc:"",
                recp_firstname: "",
                 recp_lastname: "",
                  recp_midname: "",
                  recv_ofc: "",
                  doc_name: "",
              
                signature_filename:""
            }),
        err:false,
        step:1,
         strokeOptions,
        hide:true,
        message:"",
            processing:false,
        showNo:false,
            keyword:"",
            messageS:false,
      xapp_list:this.users,
            Search:[],
     active: false,
     activeClass: 'block',

}
},

validations(){

  return{
    form:{
      doc_name:{required,$lazy:true},
    // recv_ofc:{required,$lazy:true},
    date:{required,$lazy:true},
//  others_recv_ofc:{ req: requiredIf(this.step===1 && this.form.recv_ofc==='OTHERS'),$lazy:true,},
 recp_lastname:{ req: requiredIf(this.step===2 ),$lazy:true,alphaNumAndDotValidator},
 recp_firstname:{ req: requiredIf(this.step===2 ),$lazy:true,alphaNumAndDotValidator},
 recp_midname:{ $lazy:true,alphaNumAndDotValidator},

    
    
  }
}
},

    methods: {
       firstStep(){

  this.v$.form.$touch();

      // if its still pending or an error is returned do not submit
      if (this.v$.form.$invalid || this.v$.form.$error) {
this.$nextTick(() => {	
let domRect = document.querySelector('.border-red-500').getBoundingClientRect();
  
})
        return;
        }
     
      // to form submit after this            
  
       this.$nextTick(() => {	
let domRect = document.querySelector('.border-gray-300').getBoundingClientRect();
  window.scrollTo(
    domRect.left + document.documentElement.scrollLeft,
    domRect.top + document.documentElement.scrollTop
  );
})
      this.step++;
          this.v$.form.$reset();
   },
       stepTwo(){

  this.v$.form.$touch();

      // if its still pending or an error is returned do not submit
      if (this.v$.form.$invalid || this.v$.form.$error) {
this.$nextTick(() => {	
let domRect = document.querySelector('.border-red-500').getBoundingClientRect();

})
        return;
        }
     
      // to form submit after this            
  
       this.$nextTick(() => {	
let domRect = document.querySelector('.border-gray-300').getBoundingClientRect();
  window.scrollTo(
    domRect.left + document.documentElement.scrollLeft,
    domRect.top + document.documentElement.scrollTop
  );
})
      this.step++;
          this.v$.form.$reset();
   },
    AddUser(){
        this.form.reset(
                      
                 
            " recp_firstname",
             " recp_lastname",
             "recp_midname",
         "recv_ofc",
         "doc_name",
                "signature_filename",
                "date"
                    
                    );
                   
   
  this.$inertia.visit('incomings');
    },

  submit() {
    this.v$.form.$touch();
  if (this.v$.form.$invalid || this.v$.form.$error) {
this.$nextTick(() => {	
let domRect = document.querySelector('.border-red-500').getBoundingClientRect();

})
        return;
        }
           this.v$.form.$reset();
    if (this.$refs.signaturePad.isEmpty()) {
   this.err = true;
    return
  }
 
  const signatureFile = new File([this.$refs.signaturePad.toDataURL('image/png')], 'signature.png', { type: 'image/png' })

  this.form.signature_filename = signatureFile
  this.hasErrors = false

  this.error_fullname = ''

  this.form.post(this.route("addincoming"), {
    forceFormData: true,
    onFinish: () => {

             
    },
    onError: (resp_data) => {


     },
    onSuccess: (resp_data) => {

this.clear();
   

                    this.form.reset(
                      
                "date",        
            "recp_firstname",
             " recp_lastname",
             "recp_midname",
         "doc_name",
                "signature_filename",
                 
                    );
             
      this.$inertia.visit('incomings');
                },
        
            });
        },    
        
  showDetails() {
       this.active = !this.active;
    //    this.$forceUpdate();
    },
  showDetail(search) {
       search.active = !search.active;
    //    this.$forceUpdate();
    },
     

        filterList,
        click(event, i) {
            let toset;
            const sortEl = this.cols[i];
            if (!event.shiftKey) {
                this.cols.forEach((o) => {
                    if (o.field !== sortEl.field) {
                        o.sort = "";
                    }
                });
            }
            if (!sortEl.sort) {
                toset = "asc";
            }
            if (sortEl.sort === "desc") {
                toset = event.shiftKey ? "" : "asc";
            }
            if (sortEl.sort === "asc") {
                toset = "desc";
            }
            sortEl.sort = toset;
        },

save() {

    const jpeg = this.$refs.signaturePad.toDataURL()
   
console.log(jpeg);


        
    },


		clear(){
			var _this = this;
			_this.$refs.signaturePad.clear();
        _this.form.holder = ""
		},   
},


    computed: {
 datepickerStyle() {
      return {
        '--dp-border-color': this.v$.form.date.$error ? '#ff0000' : '#ddd',
      };
    },
        sortBy() {
            return this.cols.reduce((acc, o) => {
                if (o.sort) {
                    o.sort === "asc"
                        ? acc.push(o.field)
                        : acc.push("-" + o.field);
                }
                return acc;
            }, []);
        },
    },



}
</script>

<style>
.modal{
    background: rgba(82, 80, 80, 0.3);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gg-select {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 22px;
    height: 22px;
}
.gg-select::after,
.gg-select::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 7px;
    transform: rotate(-45deg);
}
.gg-select::before {
    border-left: 2px solid;
    border-bottom: 2px solid;
    bottom: 4px;
    opacity: 0.3;
}
.gg-select::after {
    border-right: 2px solid;
    border-top: 2px solid;
    top: 4px;
    opacity: 0.3;
}
th.sort {
    cursor: pointer;
    user-select: none;
}
th.sort.asc .gg-select::after {
    opacity: 1;
}
th.sort.desc .gg-select::before {
    opacity: 1;
}
.pagination li a {
 display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;
}

 .pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
.pagination li.page-item.active {
  background-color: #4eb859;
  color: #fff;
}

.pagination li.page-item.active a {

  color: #fff;
}
.pagination li a:hover:not(.active) {
  background: #ddd;
}
</style>