<script setup>
import { computed } from 'vue';
import { Link } from '@inertiajs/inertia-vue3';

const props = defineProps(['href', 'active']);

const classes = computed(() => props.active
    ? 'inline-flex items-center px-2 pt-0 border-b-2 border-white text-[1em]  font-semibold leading-5 text-white bg-greens rounded-md focus:outline-none focus:border-greens transition  duration-150 ease-in-out'
    : 'inline-flex items-center px-2 pt-0 border-b-2 border-transparent text-[1em] font-semibold leading-5 text-gray-500 hover:text-blue-400 hover:border-blue-300 focus:outline-none focus:text-blue-500 focus:border-gray-300 transition duration-150 ease-in-out'
);
</script>

<template>
    <Link :href="href" :class="classes">
        <slot />
    </Link>
</template>
<style>
.fontcolor{
    color:white;
}

</style>