<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="inline-flex items-center justify-center px-4 py-2 text-xs font-semibold tracking-widest uppercase transition duration-150 ease-in-out rounded-md bg-dark fontcolor hover:bg-green-600 hover:text-white active:bg-gray-900 focus:outline-none ">
        <slot />
    </button>
</template>
