

<template>
<div class="overflow-hidden ">
  <div class="z-10 flex items-center justify-between w-screen p-4 border-none shadow-xs bgs desktop:fixed laptop:fixed laptop:p-3 desktop:p-3 desktop:justify-center laptop:justify-center">
          
                      
                            <!-- Logo -->
                            <div class="flex items-center justify-center">
                                <Link :href="route('guest_home')">
                                    <ApplicationLogo class="block w-auto h-12" />
                                </Link>

        </div>

         <div class="flex items-end desktop:hidden laptop:hidden">
                            <button @click="showingNavigationDropdown = ! showingNavigationDropdown" class="inline-flex items-center justify-center p-2 transition duration-150 ease-in-out rounded-md text-greens hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-greens focus:text-white">
                                <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                                    <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>

                            </button>
                       
                      
                
                    </div>
<!--                       
                                      <div class="items-center hidden mr-12 space-x-20 sm:ml-2 sm:flex lg:mt-0 md:mt-2 justify-evenly">
                <NavLink :href="route('guest_home')" :active="route().current('guest_home')">
                    Home
                </NavLink>
                    
            
                    <NavLink :href="route('reports')" :active="route().current('reports')">
                   Resources
                </NavLink>
        
    

                    
   </div>  -->
  
    <!-- <div class="hidden sm:flex ">         
      
                <Link :href="route('register')" > 
                        <PrimaryButton class="ml-4 border-white rounded-2xl" >
                 Register
                </PrimaryButton> 
               </Link>

               
               
                     </div> -->
   
   </div>
    
      <!-- <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class=" laptop:hidden desktop:hidden">
          <div class="z-10 flex flex-col items-end pt-3 pb-1 text-greens bg">
                      
                        <div class="mt-3 space-y-1">
                            <BreezeResponsiveNavLink class="text" :href="route('executivereports')">
                               Executive Reports
                            </BreezeResponsiveNavLink>
                        </div>

                        <div class="mt-3 space-y-1">
                            <BreezeResponsiveNavLink class="text" :href="route('daryl')">
                              Transaction Reports
                            </BreezeResponsiveNavLink>
                        </div>
 
 <div class="mt-3 space-y-1">
                            <BreezeResponsiveNavLink class="text" :href="route('james')">
                              Pending Assessment Reports
                            </BreezeResponsiveNavLink>
                        </div>
 <div class="mt-3 space-y-1">
                            <BreezeResponsiveNavLink class="text" :href="route('mayorsreports')">
                              Mayor's Permit Reports
                            </BreezeResponsiveNavLink>
                        </div>

         
                    </div>
  </div> -->
        <div class="block gap-10 sm:grid tablet:grid-cols-5 laptop:grid-cols-5 desktop:grid-cols-5 bgs">
            <!-- <div class=" text-center text-black  min-w-[15rem] laptop:block fixed z-5 sm:col-span-1 min-h-screen hidden  tablet:hidden  ">
<div class="flex flex-col items-start p-5  mt-16 justify-start min-h-[50rem]">
    <div class="flex items-center p-3 text-[0.9em] font-semibold text-gray-500 cursor-pointer text-start justify-evenly bgss " ><div>
    <svg width="30px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ><path clip-rule="evenodd" d="m11.0118 3.75c.7694 0 1.0319.00482 1.2708.06217.2296.05512.4491.14603.6504.26939.2094.12836.3985.31056.9426.85466l3.1882 3.18822c.5441.5441.7263.73312.8546.94258.1234.20131.2143.42079.2694.65037.0574.23887.0622.50141.0622 1.27081v5.2118c0 .8525-.0006 1.4467-.0384 1.9093-.0371.4539-.1062.7147-.2068.9122-.2158.4233-.56.7676-.9833.9833-.1975.1006-.4583.1697-.9122.2068-.4626.0378-1.0568.0384-1.9093.0384h-4.4c-.85245 0-1.44669-.0006-1.90932-.0384-.45388-.0371-.71464-.1062-.91216-.2068-.42336-.2157-.76757-.56-.98328-.9833-.10064-.1975-.16977-.4583-.20686-.9122-.0378-.4626-.03838-1.0568-.03838-1.9093v-8.4c0-.85245.00058-1.44669.03838-1.90932.03709-.45387.10622-.71464.20686-.91216.21571-.42336.55992-.76757.98328-.98328.19752-.10064.45828-.16977.91216-.20686.46263-.0378 1.05687-.03838 1.90932-.03838zm1.621-1.39639c-.433-.10394-.884-.10381-1.5356-.10362l-.0854.00001h-1.2118-.0321c-.81284-.00001-1.46846-.00001-1.99937.04337-.54663.04466-1.02678.13902-1.47099.36536-.70561.35952-1.27929.9332-1.63881 1.63881-.22634.44422-.3207.92436-.36537 1.47099-.04337.53091-.04337 1.18653-.04336 1.99937v.0321 8.4.0321c-.00001.8128-.00001 1.4685.04336 1.9994.04467.5466.13903 1.0267.36537 1.471.35952.7056.9332 1.2793 1.63881 1.6388.44421.2263.92436.3207 1.47099.3653.53091.0434 1.18652.0434 1.99935.0434h.03212 4.4.0321c.8129 0 1.4685 0 1.9994-.0434.5466-.0446 1.0267-.139 1.471-.3653.7056-.3595 1.2792-.9332 1.6388-1.6388.2263-.4443.3207-.9244.3653-1.471.0434-.5309.0434-1.1865.0434-1.9994v-.0321-5.2118-.0854c.0002-.6516.0003-1.1026-.1036-1.53558-.0919-.38263-.2434-.74843-.449-1.08395-.2327-.37966-.5517-.69847-1.0125-1.15906l-.0605-.06043-3.1882-3.18822-.0604-.06045c-.4606-.46085-.7794-.77985-1.1591-1.01251-.3355-.20561-.7013-.35712-1.0839-.44899zm-2.8828 12.64639c0-.4142-.33579-.75-.75-.75s-.75.3358-.75.75v2c0 .4142.33579.75.75.75s.75-.3358.75-.75zm2.25-3.75c.4142 0 .75.3358.75.75v5c0 .4142-.3358.75-.75.75s-.75-.3358-.75-.75v-5c0-.4142.3358-.75.75-.75zm3.75-1.25c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v7c0 .4142.3358.75.75.75s.75-.3358.75-.75z" fill="#000000" fill-rule="evenodd"/></svg>
    </div> <Link :href="route('alvin')" class="ml-1" >
                                 Executive Reports
                                </Link>
</div>
      
        <div class="flex items-center p-3 text-[0.9em] font-semibold text-gray-500 text-center justify-evenly bgss" ><div>
    <svg width="30px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ><path clip-rule="evenodd" d="m11.0118 3.75c.7694 0 1.0319.00482 1.2708.06217.2296.05512.4491.14603.6504.26939.2094.12836.3985.31056.9426.85466l3.1882 3.18822c.5441.5441.7263.73312.8546.94258.1234.20131.2143.42079.2694.65037.0574.23887.0622.50141.0622 1.27081v5.2118c0 .8525-.0006 1.4467-.0384 1.9093-.0371.4539-.1062.7147-.2068.9122-.2158.4233-.56.7676-.9833.9833-.1975.1006-.4583.1697-.9122.2068-.4626.0378-1.0568.0384-1.9093.0384h-4.4c-.85245 0-1.44669-.0006-1.90932-.0384-.45388-.0371-.71464-.1062-.91216-.2068-.42336-.2157-.76757-.56-.98328-.9833-.10064-.1975-.16977-.4583-.20686-.9122-.0378-.4626-.03838-1.0568-.03838-1.9093v-8.4c0-.85245.00058-1.44669.03838-1.90932.03709-.45387.10622-.71464.20686-.91216.21571-.42336.55992-.76757.98328-.98328.19752-.10064.45828-.16977.91216-.20686.46263-.0378 1.05687-.03838 1.90932-.03838zm1.621-1.39639c-.433-.10394-.884-.10381-1.5356-.10362l-.0854.00001h-1.2118-.0321c-.81284-.00001-1.46846-.00001-1.99937.04337-.54663.04466-1.02678.13902-1.47099.36536-.70561.35952-1.27929.9332-1.63881 1.63881-.22634.44422-.3207.92436-.36537 1.47099-.04337.53091-.04337 1.18653-.04336 1.99937v.0321 8.4.0321c-.00001.8128-.00001 1.4685.04336 1.9994.04467.5466.13903 1.0267.36537 1.471.35952.7056.9332 1.2793 1.63881 1.6388.44421.2263.92436.3207 1.47099.3653.53091.0434 1.18652.0434 1.99935.0434h.03212 4.4.0321c.8129 0 1.4685 0 1.9994-.0434.5466-.0446 1.0267-.139 1.471-.3653.7056-.3595 1.2792-.9332 1.6388-1.6388.2263-.4443.3207-.9244.3653-1.471.0434-.5309.0434-1.1865.0434-1.9994v-.0321-5.2118-.0854c.0002-.6516.0003-1.1026-.1036-1.53558-.0919-.38263-.2434-.74843-.449-1.08395-.2327-.37966-.5517-.69847-1.0125-1.15906l-.0605-.06043-3.1882-3.18822-.0604-.06045c-.4606-.46085-.7794-.77985-1.1591-1.01251-.3355-.20561-.7013-.35712-1.0839-.44899zm-2.8828 12.64639c0-.4142-.33579-.75-.75-.75s-.75.3358-.75.75v2c0 .4142.33579.75.75.75s.75-.3358.75-.75zm2.25-3.75c.4142 0 .75.3358.75.75v5c0 .4142-.3358.75-.75.75s-.75-.3358-.75-.75v-5c0-.4142.3358-.75.75-.75zm3.75-1.25c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v7c0 .4142.3358.75.75.75s.75-.3358.75-.75z" fill="#000000" fill-rule="evenodd"/></svg>
    </div> <Link :href="route('daryl')" class="ml-1">
                                 Transaction Reports
                                </Link>
</div>
<div class="flex items-center p-3 text-[0.9em] font-semibold text-gray-500 text-center justify-evenly bgss" ><div>
    <svg width="30px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ><path clip-rule="evenodd" d="m11.0118 3.75c.7694 0 1.0319.00482 1.2708.06217.2296.05512.4491.14603.6504.26939.2094.12836.3985.31056.9426.85466l3.1882 3.18822c.5441.5441.7263.73312.8546.94258.1234.20131.2143.42079.2694.65037.0574.23887.0622.50141.0622 1.27081v5.2118c0 .8525-.0006 1.4467-.0384 1.9093-.0371.4539-.1062.7147-.2068.9122-.2158.4233-.56.7676-.9833.9833-.1975.1006-.4583.1697-.9122.2068-.4626.0378-1.0568.0384-1.9093.0384h-4.4c-.85245 0-1.44669-.0006-1.90932-.0384-.45388-.0371-.71464-.1062-.91216-.2068-.42336-.2157-.76757-.56-.98328-.9833-.10064-.1975-.16977-.4583-.20686-.9122-.0378-.4626-.03838-1.0568-.03838-1.9093v-8.4c0-.85245.00058-1.44669.03838-1.90932.03709-.45387.10622-.71464.20686-.91216.21571-.42336.55992-.76757.98328-.98328.19752-.10064.45828-.16977.91216-.20686.46263-.0378 1.05687-.03838 1.90932-.03838zm1.621-1.39639c-.433-.10394-.884-.10381-1.5356-.10362l-.0854.00001h-1.2118-.0321c-.81284-.00001-1.46846-.00001-1.99937.04337-.54663.04466-1.02678.13902-1.47099.36536-.70561.35952-1.27929.9332-1.63881 1.63881-.22634.44422-.3207.92436-.36537 1.47099-.04337.53091-.04337 1.18653-.04336 1.99937v.0321 8.4.0321c-.00001.8128-.00001 1.4685.04336 1.9994.04467.5466.13903 1.0267.36537 1.471.35952.7056.9332 1.2793 1.63881 1.6388.44421.2263.92436.3207 1.47099.3653.53091.0434 1.18652.0434 1.99935.0434h.03212 4.4.0321c.8129 0 1.4685 0 1.9994-.0434.5466-.0446 1.0267-.139 1.471-.3653.7056-.3595 1.2792-.9332 1.6388-1.6388.2263-.4443.3207-.9244.3653-1.471.0434-.5309.0434-1.1865.0434-1.9994v-.0321-5.2118-.0854c.0002-.6516.0003-1.1026-.1036-1.53558-.0919-.38263-.2434-.74843-.449-1.08395-.2327-.37966-.5517-.69847-1.0125-1.15906l-.0605-.06043-3.1882-3.18822-.0604-.06045c-.4606-.46085-.7794-.77985-1.1591-1.01251-.3355-.20561-.7013-.35712-1.0839-.44899zm-2.8828 12.64639c0-.4142-.33579-.75-.75-.75s-.75.3358-.75.75v2c0 .4142.33579.75.75.75s.75-.3358.75-.75zm2.25-3.75c.4142 0 .75.3358.75.75v5c0 .4142-.3358.75-.75.75s-.75-.3358-.75-.75v-5c0-.4142.3358-.75.75-.75zm3.75-1.25c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v7c0 .4142.3358.75.75.75s.75-.3358.75-.75z" fill="#000000" fill-rule="evenodd"/></svg>
    </div> <Link :href="route('james')" class="ml-1">
                                 Pending Assessment Reports
                                </Link>
</div>


<div class="flex items-center p-3 text-[0.9em] font-semibold text-gray-500 text-center justify-evenly bgss" ><div>
    <svg width="30px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ><path clip-rule="evenodd" d="m11.0118 3.75c.7694 0 1.0319.00482 1.2708.06217.2296.05512.4491.14603.6504.26939.2094.12836.3985.31056.9426.85466l3.1882 3.18822c.5441.5441.7263.73312.8546.94258.1234.20131.2143.42079.2694.65037.0574.23887.0622.50141.0622 1.27081v5.2118c0 .8525-.0006 1.4467-.0384 1.9093-.0371.4539-.1062.7147-.2068.9122-.2158.4233-.56.7676-.9833.9833-.1975.1006-.4583.1697-.9122.2068-.4626.0378-1.0568.0384-1.9093.0384h-4.4c-.85245 0-1.44669-.0006-1.90932-.0384-.45388-.0371-.71464-.1062-.91216-.2068-.42336-.2157-.76757-.56-.98328-.9833-.10064-.1975-.16977-.4583-.20686-.9122-.0378-.4626-.03838-1.0568-.03838-1.9093v-8.4c0-.85245.00058-1.44669.03838-1.90932.03709-.45387.10622-.71464.20686-.91216.21571-.42336.55992-.76757.98328-.98328.19752-.10064.45828-.16977.91216-.20686.46263-.0378 1.05687-.03838 1.90932-.03838zm1.621-1.39639c-.433-.10394-.884-.10381-1.5356-.10362l-.0854.00001h-1.2118-.0321c-.81284-.00001-1.46846-.00001-1.99937.04337-.54663.04466-1.02678.13902-1.47099.36536-.70561.35952-1.27929.9332-1.63881 1.63881-.22634.44422-.3207.92436-.36537 1.47099-.04337.53091-.04337 1.18653-.04336 1.99937v.0321 8.4.0321c-.00001.8128-.00001 1.4685.04336 1.9994.04467.5466.13903 1.0267.36537 1.471.35952.7056.9332 1.2793 1.63881 1.6388.44421.2263.92436.3207 1.47099.3653.53091.0434 1.18652.0434 1.99935.0434h.03212 4.4.0321c.8129 0 1.4685 0 1.9994-.0434.5466-.0446 1.0267-.139 1.471-.3653.7056-.3595 1.2792-.9332 1.6388-1.6388.2263-.4443.3207-.9244.3653-1.471.0434-.5309.0434-1.1865.0434-1.9994v-.0321-5.2118-.0854c.0002-.6516.0003-1.1026-.1036-1.53558-.0919-.38263-.2434-.74843-.449-1.08395-.2327-.37966-.5517-.69847-1.0125-1.15906l-.0605-.06043-3.1882-3.18822-.0604-.06045c-.4606-.46085-.7794-.77985-1.1591-1.01251-.3355-.20561-.7013-.35712-1.0839-.44899zm-2.8828 12.64639c0-.4142-.33579-.75-.75-.75s-.75.3358-.75.75v2c0 .4142.33579.75.75.75s.75-.3358.75-.75zm2.25-3.75c.4142 0 .75.3358.75.75v5c0 .4142-.3358.75-.75.75s-.75-.3358-.75-.75v-5c0-.4142.3358-.75.75-.75zm3.75-1.25c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v7c0 .4142.3358.75.75.75s.75-.3358.75-.75z" fill="#000000" fill-rule="evenodd"/></svg>
    </div> <Link :href="route('reports')" class="ml-1">
                                 Mayor's Permit Reports
                                </Link>
</div>
</div>
            </div> -->

            
            <div class="container bg-white tablet:col-span-5 desktop:col-span-5 laptop:col-span-5 laptop:p-0 tablet:px-3">  <slot /></div>
          
        </div>


     
    



   

        </div>
</template>
<script>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import NavLink from '@/Components/NavLink.vue';
import BreezeResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import {Head ,Link} from '@inertiajs/inertia-vue3';
export default {
    components: {
        ApplicationLogo,
        PrimaryButton,
        NavLink,Head,Link,BreezeResponsiveNavLink
     
    },
    data(){
        return{

              date: new Date().getFullYear(),
               showingNavigationDropdown: false,
               BreezeResponsiveNavLink
        }
    },
    methods:{
        asd(){
         this.$inertia.visit(route('reports'), {'method': 'get'});
     },
    }
}


</script>
<style>
.fontblue{
color:#0065C3;
border-color: #0065C3;
}
.bg{
    background:#f7f8f9
}
.bgs{
    background: #fdfdfd;
}
.bgss:hover {
    fill: #4eb859;
    color:#4eb859;
    stroke:#4eb859;
}



</style>