@import '../commons/animatecss_customize';
@import '../commons/customs';
@import '../commons/variables';

// bootstrap =======================================
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// @import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities";

// bootstrap End ===================================
@import './sidenav';
@import '../commons/custom_forms';
@import '../commons/custom_modals';

// Custom Toast ========================
.toast-stack {
    position: fixed;
    top: $navbar-h + 20;
}

.toast-stack.admin-side {
    right: $side-nav-w2 + 20;
}

.toast-stack.user-side {
    right: 20px;
}

// Sticky Top side panels ==================
.sticky-top {
    top: 70px !important; // set size = to navbar height
    z-index: 3 !important;
}


@include media-breakpoint-down(md) {
    .toast-stack {
        right: 10px !important;
    }
}
// Custom Toast End ====================