@import '../commons/colors';
@import '../commons/variables';

// Header navbar ==============================
.navbar-public {
    margin-right: $side-nav-w;
}

.navbar-app {
    margin-right: 0;
}

.navbar-app.always-shown {
    margin-right: $side-nav-w2;
}

.navbar {
    background-color: $bg-green1;

    a.nav-link, a.navbar-brand {
        color: #fff;
        font-weight: 300;
    }

    .nav-item > a.nav-link {
        line-height: 13px;
        margin-top: -9px;
        margin-bottom: -9px;
        transition: all 100ms;

        // font-weight: 300;
        font-size: 16px;

        padding-left: 1rem;
        padding-right: 1rem;

        i {
            display: block;
            text-align: center;
            font-size: 20px;
            margin-bottom: 5px;
        }
    }

    .nav-item > a.nav-link:hover {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 3px #777777;
    }

    .nav-item.active > a.nav-link {
        :hover {
            background: none;    
        }

        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 3px #777777;
    }

    a.nav-link.nav-border-right {
        border-right: 1px solid rgba(255, 255, 255, 0.38);
    }

    .dropdown-menu {
        min-width: auto !important;
        padding: 0;
        
        .dropdown-item {
            font-size: 15px;
            padding: 10px 20px;
        }

        // user display name
        span.dropdown-item-text:first-child {
            white-space: nowrap !important;
        }
    } 
    
}
// Header navbar end ==========================

#sidenav-toggle {
    display: none;
}

#content-holder {
    margin-top: $navbar-h;
    margin-right: $side-nav-w;
}

#content-holder2 {
    margin-top: $navbar-h;
}

#content-holder2.always-shown {
    padding-right: $side-nav-w2 !important;
}

.sidenav-holder {
    background-color: $def-white !important;
    float: right;
    position: fixed;
    // height: 100vh;
    height: 100%;
    transition: all 300ms;
    right: 0;
    overflow-y: auto;
    z-index: 100;
}

#right-sidenav-holder {
    max-width: $side-nav-w;
    min-width: $side-nav-w;
}

// app
#right-sidenav-holder2 {
    max-width: $side-nav-w2;
    min-width: $side-nav-w2;
    margin-right: -$side-nav-w2;
    margin-top: $navbar-h;
}

#right-sidenav-holder2.always-shown {
    margin-right: 0;
    margin-top: 0;
}
// app

#sidenav-blocker {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
    z-index: 99;
}

#sidenav-blocker.active {
    visibility: visible;
    opacity: 1;
}

#right-sidenav-holder.active {
    margin-right: -$side-nav-w;
}

// sidenav info & menus ============================
.sidenav-user-bx {
    img {
        float: left;
        border: 1px solid #ddd;
        margin: 15px 15px 10px 15px;
        vertical-align: middle;
    }

    .user-bx-btns {
        height: 100%;
        line-height: normal;
        padding-right: 15px;
        padding-top: 13px;
        margin-bottom: 15px;
        
        span {
            color: $def-black;
            font-weight: 500;
            font-size: small;
            word-break: break-all;
        }

        a, i {
            height: 100%;
            line-height: normal;
            display: inline-block;
        }

        i {
            margin: 0 10px;
            font-size: 12px;
            color: #bebebe;
        }

        a {
            font-size: 12px;
            color: #0f99c6;
        
        }
    }
    
}

// menus ===============
.sidenav-menus > li {
    
    a {
        padding: 10px 15px;
        color: $def-black;
        display: block;
        font-weight: 500;
        transition: all 100ms;
    }

    a:hover {
        text-decoration: none;
    }

    .dropdown-toggle::after {
        float: right;
        margin-top: 10px;
    }
    
}

.sidenav-menus > li > a:hover, .sidenav-menus > li.active > a, .sidenav-menus > li > ul > li > a:hover, .sidenav-menus > li.active > ul > li.active > a{
    background-color: $bg-green1;
    color: #fff;
}

.sidenav-menus > li > ul > li > a {
    padding-left: 30px;
}

// navbar
.navbar-nav li.nav-item:last-child a {
    border-right: 1px solid #ccdec673;
}

.collapsing {
    transition: height 300ms;
}
// sidenav info & menus end ========================

@include media-breakpoint-down(md) {
    #sidenav-toggle {
        display: block;
    }

    .navbar-nav {
        display: none;
    }

    #right-sidenav-holder {
        margin-right: -$side-nav-w;
        margin-top: $navbar-h;
    }
    
    #right-sidenav-holder2.always-shown {
        margin-right: -$side-nav-w2;
        margin-top: $navbar-h;
    }

    // #right-sidenav-holder2.active {
    //     margin-top: $navbar-h;
    // }

    .sidenav-holder.active {
        margin-right: 0 !important;
    }

    #content-holder2.always-shown {
        padding-right: 0 !important;
    }
    
    #content-holder, .navbar {
        margin-right: 0 !important;
    }
}

@include media-breakpoint-up(lg) {
    #right-sidenav-holder.active {
        margin-right: 0;
    }

    #sidenav-blocker.active {
        visibility: hidden;
        opacity: 0;;
    }

}

@include media-breakpoint-only(xs) {

    $side-nav-w: 100%;

    #right-sidenav-holder {
        max-width: $side-nav-w;
        min-width: $side-nav-w;
        margin-right: -$side-nav-w;
    }

    .navbar-brand {
        display: inline-block;
        max-width: 78%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@include media-breakpoint-only(sm) { 
    .navbar-brand {
        display: inline-block;
        max-width: 86%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}