<script setup>
import Checkbox from '@/Components/Checkbox.vue';
import GuestLayout from '@/Layouts/Guest.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';

defineProps({
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    email: '',
    password: '',
    remember: false
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <GuestLayout>
        <Head title="Log in" />

        <div v-if="status" class="mb-4 text-sm font-medium text-greens">
            {{ status }}
        </div>

        <div class="min-h-[50rem] w-screen sm:p-3 p-3">
            <div class="text-3xl font-semibold text-center text-dark">
                Welcome Please Log In
            </div>
                   <div>
        <img :src="$page.props.base_url + `assets/sd.png`" alt="" class="object-fit max-h-[10rem] mx-auto">
    </div>
        <div class="max-w-lg mx-auto mt-[1rem] bg-white ">
        <form @submit.prevent="submit" class="mx-auto">
            <div>
                <InputLabel for="email" value="Email" class="font-bold"/>
                <TextInput id="email" type="email" class="block w-full mt-1" v-model="form.email" required autofocus autocomplete="username" />
                <InputError class="mt-2" :message="form.errors.email" />
            </div>

            <div class="mt-4">
                <InputLabel for="password" value="Password" class="font-bold"/>
                <TextInput id="password" type="password" class="block w-full mt-1" v-model="form.password" required autocomplete="current-password" />
                <InputError class="mt-2" :message="form.errors.password" />
            </div>

            <div class="block mt-4">
                <label class="flex items-center">
                    <Checkbox name="remember" v-model:checked="form.remember" />
                    <span class="ml-2 text-sm text-gray-600">Remember me</span>
                </label>
            </div>

            <div class="flex items-center justify-end mt-4">
              

                <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Log in
                </PrimaryButton>
            </div>
        </form>
        </div>

        </div>
    </GuestLayout>
</template>
